name: cron

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' #UTC

jobs:
  cron:
    name: cron
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
        with:
          php-version: 8.4
          coverage: none

      - name: Install Composer dependencies
        run: composer install --no-dev -q

      - name: Copy Environment File
        run: cp .env.example .env

      - name: Generate Application Key
        run: php artisan key:generate

      - name: Run Command
        run: php artisan sheets:reset
        env:
          GOOGLE_SERVICE_ENABLED: true
          GOOGLE_SERVICE_ACCOUNT_JSON: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          POST_SHEET_ID: ${{ secrets.POST_SHEET_ID }}
          POST_SPREADSHEET_ID: ${{ secrets.POST_SPREADSHEET_ID }}
